extends ../layout/main

block variables
  - var title = 'Webpack Template!';
  - var description = 'width=device-width, initial-scale=1.0';
  - var pageClass = 'index-page'

block content
  p This is content!