// @import "utils/vars"
// @import "utils/mixins"
@import "utils/fonts"

body
  background #212121
  color #66E701
  font-family OrbitronBold, Helvetica, sans-serif

body
  background-image url("../img/garald.jpg")
  color red